input, textarea, select {
    width: 100%;
    padding: var(--space-8);
    border: 1px solid var(--color-neutral-500);
    border-radius: 4px;
    font-size: var(--font-size-md);
}

input:focus, textarea:focus{
    outline: 2px solid var(--color-primary-light);
}   