/* BREAKPOINTS */

@media (max-width: 1440px) {
    /* ajustes para janelas grandes */
}

@media (max-width: 1024px) {
    .container { width: 95%; }
    .col-6 { grid-column: span 12; } /*exemplo:cards compartilhados*/
}

@media (max-width: 760px) {
    .grid-12 {gap: var(--space-8); }
}

@media (max-width: 460px) {
    .flex-between { flex-direction: column; gap: var(--space-8); }
}

@media (max-width: 320px) {
    body {font-size: var(--font-size-sm); }
}